services:
  server:
    build: ./server
    ports:
      - "3000:3000"
    volumes:
      - ./server/data:/app/data
    environment:
      - PORT=3000
    networks:
      - app-network

  client:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
